.footer{
    position: relative;
    height: 200px;
    width: 100%;
    background-color: black;
    display: inline-flex;
    
}
.logo_footer>*{
    display: inline-flex;
    vertical-align: middle;
    padding-right: 25px;
}
.logo_footer{
    height: 70px;
    float: left;
    margin: 35px 50px;
}
.footer_nav{
    margin-left: 250px;
    margin-top: 20px;    
}
.footer_nav li{
    display: inline;
    margin-left:25px;
    padding-top: 13px;
    font-size: 16px;
    vertical-align: middle;
}
.footer_nav li a{
    color: white;
    font-size: 18px;
}
.footer_nav li a:hover{
    color: #bdbdbd;
}
.license{
    align-self: center;
    height: 25px;
    position: absolute;
    left: 30%;
    list-style: none;
    display: inline-flex;
    bottom: 10px;
    font-size: 14px;
}
.license li{
    margin-right: 50px;
}

@media screen and (max-width: 1600px)
{
    .footer_nav{
        margin-left: 10%;
    }
    
}
@media screen and (max-width: 1440px)
{
    .footer{
        width: 100%;
    }
    .footer_nav{
        margin-left: 3%;
    }
    .license{
        left: 20%; 
    }
}
@media screen and (max-width: 1100px)
{
    .footer{
        width: 100%;
    }
}

@media screen and (max-width:  980px)
{
    .footer{
        width: 100%;
    }
    .footer_nav{
        margin-left: 0px;
        padding-left:0px;
    }
    .logo_footer{
        margin-right: 10px;
        margin-left: 10px
    }
    .license{
        left: 10%;
    }
}

@media screen and (max-width: 780px)
{
    .footer_nav{
        margin-left: 30%;
        margin-top: 25px;
    }
    .license{
        left: 0%;
    }
    
}

@media screen and (max-width: 650px)
{
    .footer_nav{
        margin-left: 18%;
    }
}

@media screen and (max-width: 480px)
{
    .license{
        font-size: 10px;
    }
    .footer_nav{
        margin-left: 5%;
    }
    .footer_nav li{
        margin-left: 20px;
    }
    .footer_nav li a{
        font-size: 16px;
    }
}