body{
    margin: 0 auto;
    color: white;
    background-color: #202020;
    font-family: verdana;
    font-size:18px;
    align-items: center;
}

.header{
    height: 100px;
    background-color: black;
    width: 100%;
}
.logo{
    width: 70px;
}
.logo_header{
    float: left;
    border: none;
    padding: 13px;   
}
.logo_header > *{
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
}
.header_navigation{
    width: auto;
    list-style: none;
    padding-top: 30px;
    padding-right: 80px;
    height: 50px;
    margin: 0;
    float: right;
}
.header_navigation li{
    display: inline;
    margin-left:40px;
    padding-top: 13px;
    vertical-align: middle;
}
.shop_cart_but{
    border-radius: 9px;
    background-color: #BA0075;
    border: none;
    height: 48px;
    width: 48px;
    transition: color .2s ease-out .15s;
}
.shop_cart_but:hover{
    background-color: #A60068;    
}
.shop_cart_but:active{
    background-color: #730048;    
}
.nav-a-text{
    padding-left: 20px; 
    padding-right: 20px; 
    margin: 0px auto;  
    display: flex; 
    z-index: 1;
    text-align: center;
}
.nav-a-bg{
    border-radius: 9px;
    margin-top: -5px;
    transition: width .1s ease-out .15s;
    position: absolute;
    height: 100%;
    width: 0;
    margin-left: 0px;
    background: #BA0075;
    z-index: 0;
}
h1{
    margin: 0;
}
li{
    position: relative;
    height: 50px;
}
a{
    font-weight: 400;
    color: #BA0075;
    display: inline-flex;
    text-decoration: none; 
}
a:hover .nav-a-bg{
    width: 100%;
}
a:hover div{
    color: #ffffff;
}
li > a:visited{
    color: #BA0075;
}



.main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 70px;
    position: static;
    height: 1600px;
    width: 100%;
    background: none;
    align-items: center;
}
.katalog-container{
    width: 1394px;   
}
.katalog-block{
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 9px;
    background: #766F74;
    margin-top: 70px;
    transition: background 0.2s ease;
    align-items: center;
}
.katalog-block a{
    display: inline-flex;
    flex-direction: column;
    color: white;
    position: ;
}
.block-margin-right{
    margin-right: 45px;
}
.block-margin-top{
    margin-top: 45px;
}
.katalog-image{
    width: 80%;
    height: 80%;
    margin-top: 15px;
    margin-left: 0px;
    z-index: 1;
}
.katalog-block h3{
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}
.katalog-block:hover{
    background-color: #BA0075;
}


.slider{
    width: 1740px;
    height: 500px;
    background: #766F74;
    border-radius: 15px 0 15px 15px;
}
.prev{
    left: -71px;
}
.next{
    right: -71px;
}
.slider-button{
    border: none;
    top: 220px;
    margin: 5px;
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #292929;
    border-radius: 15px;
}
.arrow{
    height: 25px;
}
.slider-container{
    margin-top: 100px;
    display: inline-flex;
    flex-direction: column;
}
.slider-header{
    background: #766F74;
    height: 60px;
    border-radius: 15px 15px 0 0;
    align-self: flex-end;
    width: 180px;
    text-align: center;
}
.slider-header p{
    margin-top: 20px;
}
.slider-inner{
    width: 1590px;
    left: 75px;
    position: relative;
}
.slider-item{
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider-item-title{
    border-radius: 9px;
    background-color: #B5AFB3;
    margin: 15px;
    height: 450px;
    color: #292929;
    font-size: .85em;
    font-weight: 500px;
}
.slider-item-title div{
    display: flex;
    flex-direction: column;
    position: relative;
}
.slider-item-title div img{
    padding: 18px 0px 12px 18px;
    width: 250px;
}
.slider-item-title hr{
    margin-bottom: 0px; 
    width: 225px;
    background-color: #292929;
}
.slider-item-title p{
    margin-left: 18px;
    width: 250px;
}
.price{
    position: absolute;
    width: 100px;
    margin-top: 53px;
    padding-left: 20px;
    font-weight:500;
    font-size: 21px;
}
.price-cart{
    position: absolute;
    margin-left: 210px;
    margin-top: 45px;
    border-radius: 9px;
    background-color: #BA0075;
    border: none;
    height: 42px;
    width: 42px;
    transition: color .2s ease-out .15s;
}
.price-cart:hover{
    background-color: #A60068;    
}
.price-cart:active{
    background-color: #730048;    
}
.price-cart-img{
    width: 28px;
    height: 28px;
    margin-left: 1px;
    padding: 0;
}
.footer{
    height: 150px;
    background-color: black;
}



@media screen and (max-width: 1800px)
{
    .slider{
        width: 1340px;
    }
    .slider-inner{
        width: 1190px;
    }
    .slider-item-title{
        height: 450px;
    }
    .slider-item-title div img{
        padding: 18px 0px 18px 13px;
        height: 240px;
    }
    .slider-item-title hr{
        width: 215px;
        background-color: #292929;
    }
    .slider-item-title p{
        margin-left: 18px;
        width: 265px;
    }
    .price-cart{
        margin-left: 195px;
    }
}

@media screen and (max-width: 1600px)
{
    .main{
        height: 1300px;
    }
    .header{
        height: 100px;
    }
    .header_navigation{
        width: 450px;
        margin-left: 0px;
    }
    .header_navigation li{
        margin-left: 4%;
    }
    .nav-a-text{
        padding-left: 5px;
        padding-right: 5px;
    }
    a:hover .nav-a-bg{
        width: 0;
    }
    .katalog-block{
        width: 200px;
        height: 230px; 
    }
    .katalog-container{
        width: 894px
    }
    .katalog-image{
        height: 69.5%
    }
    .block-margin-right{
        margin-right: 25px;
    }
    .slider{
        height: 480px;
    }
}

@media screen and (max-width: 1440px)
{
    .slider{
        width: 940px;
        height: 450px;
    }
    .slider-inner{
        width: 790px;
    }
    .slider-item-title{
        height: 420px;
    }
    .slider-button{
        margin-top: -20px;
    }
    .slider-item-title div img{
        padding: 18px 0px 18px 14px;
        width: 89%;
        height: auto;
    }
    .slider-item-title hr{
        width: 180px;
    }
    .slider-item-title p{
        width: 180px;
    }
    .price{
        margin-top: 43px;
        padding-left: 10px;
    }
    .price-cart{
        margin-top: 35px;
        margin-left: 170px;
    }
}

@media screen and (width: 1080px)
{
    .header{
        height: 100px;
    }
    .header_navigation{
        width: 450px;
        margin-left: 0px;
    }
    .header_navigation li{
        margin-left: 4%;
    }
    .nav-a-text{
        padding-left: 5px;
        padding-right: 5px;
    }
    a:hover .nav-a-bg{
        width: 0;
    }
}

@media screen and (max-width: 980px)
{
    .main{
        height: 1850px;
    }
    .header{
        height: 100px;
    }
    .header_navigation{
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .header_navigation li{
        margin-left: 3%;
        padding-left: 0;
    }
    .nav-a-text{
        padding-left: 3px;
        padding-right: 3px;
    }
    .katalog-block{
        width: 200px;
        height: 230px; 
    }
    .katalog-list .katalog-block:nth-child(2), .katalog-block:nth-child(6){
        margin-right: 0px;
    }
    .katalog-list .katalog-block:nth-child(3), .katalog-block:nth-child(4){
        margin-top: 45px;
    }
    .katalog-container{
        width: 432px;     
    }
    .katalog-list{
        height: 1150px;
    }
    .katalog-image{
        height: 69.5%
    }
    .block-margin-right{
        margin-right: 25px;
    }
    .slider{
        width: 740px;
        height: 450px;
    }
    .slider-inner{
        width: 590px;
    }
    .slider-item-title{
        height: 420px;
    }
    .slider-item-title div img{
        padding: 18px 0px 18px 0px;
        width: 83%;
        height: auto;
        align-self: center;
    }
    .slider-item-title hr{
        margin-bottom: 18px;
        width: 80%;   
    }
    .slider-item-title p{
        margin-top: 0px;
        width: 235px;
    }
    .price{
        padding-top: 48px;
        padding-left: 10px;
    }
    .price-cart{
        margin-top: 40px;
        margin-left: 200px;
    }
}


@media screen and (max-width: 780px)
{
    .logo_header{
        display: none;
    }
    .header_navigation{
        float: right;
        padding-top: 25px;
        width: 400px;;
        padding-right: 25px;
    }
    .header_navigation li{
        margin-left: 3%;
    }
    .nav-a-text{
        padding: 2px;
    }
    .slider{
        width: 440px;
        height: 450px;
    }
    .slider-inner{
        width: 290px;
    }
    .slider-item-title{
        height: 420px;
    }
    .slider-item-title div{
        height: 
    }
    .slider-item-title div img{
        padding: 18px 0px 18px 0px;
        width: 90%;
        height: auto;
    }
    .slider-item-title p{ 
        margin-top: 0px;
        width: 235px;
    }
    .price{
        padding-top: 38px;
        padding-left: 10px;
    }
    .price-cart{
        margin-top: 30px;
        margin-left: 200px;
    }
}
@media screen and (max-width: 480px)
{
    .logo_header{
        display: none;
    }
    .header{
        height: 100px;
    }
    .header_navigation{
        padding-top: 25px;
        width:3px;
        padding-right: 0;
    }
    .header_navigation li{
        padding-left: 6%;
    }
    .nav-a-text{
        padding: 0px;
    }
    
}